//Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,700&display=swap);
$regular: 400;
$semi-b : 600;
$bold   : 700;

//Colors
$white      : #FFFFFF;
$gray-clean : #eeeeee;
$gray       : #f5f5f5;
$gray-2     : #585858;
$black      : #58595B;
$green      : #009448;
$green2     : #C1DBC0;
$green3     : #B4CA34;

.carousel-indicators {
  li {
    background: $green;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }
}

.carousel-caption {  
  display: flex;
  align-items: center;
  height: 130px;
  bottom: 0;
  h1 {
    color: $black;
    font-weight: $bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 2.4rem;
    text-align: left;
    &:after {
      content: '';
      width: 60px;
      height: 8px;
      background: $green;
      display: block;
    }
  }
}

//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

//shadow
@mixin box-shadow () {
  box-shadow: 0 .435rem .85rem rgba(0,0,0,0.4) !important;
}

//Extends
%df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black !important;  
  font-size: 1.0rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $black !important;  
  font-size: 1.0rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $black !important;  
  font-size: 1.0rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $black !important;  
  font-size: 1.0rem;
}

.form-check {
  margin-bottom: 0.8rem;
  label {
    font-size: 0.7rem;
  }
}

//Animation
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.btnDefault {
  background: $green;
  color: $white;
  transition: 0.3s;  
  padding: 0.3rem 1.0rem;
  @include border-radius (4px);
  &:hover {
    background: $green3;
    color: $white;
    transition: 0.3s;
    text-decoration: none;
    @include box-shadow();
  }            
}

body {  
  font-family: 'Rubik', sans-serif;
}

//NavClient
.navClient {
  background-color: transparent !important;
  transition: 0.3s;
  &.fixClient {
    background-color: $white !important;
    position: fixed;
    @include box-shadow ();
    width: 100%;
    z-index: 999;
    transition: 0.3s;
    .navbar-brand {
      img {
        height: 40px;
      }    
    }
  }
  .navbar-brand {
    img {
      height: 48px;
    }    
  }
  .navbar-nav {
    .nav-item {
      position: relative;
      padding-right: 10px;      
      .nav-link {
        color: $green;
      }
      &:hover {
        .nav-link {
          color: $green3;
        } 
      }
      &.active {
        .nav-link {
          color: $green3;
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background: $green;
          }
        }
      }
    }
  }
}


form {
  label {
    &.error {
      background: #ffd5d5;
      color: #F44336;
      font-size: 0.6rem;
      padding: 0.2rem 0.4rem;
      margin-bottom: 0;
      @include border-radius (4px);
    }
  }
  .col {
    position: relative;
    label {
      &.error {
        position: absolute;
        top: 42px;
        z-index: 10;
      }
    }
  }
}

//success
#success {
  padding: 2.0rem 0.5rem;
  text-align: center;
  color: $white;
  background: $green2;
  .clearfix {
    height: 40px;
  }
  .title {
    font-weight: $bold;    
  }
  p {
    margin-bottom: 30px;
  }
  .buttons-Success {
    display: flex;
    justify-content: center;
  }
  .btnDefault {
    margin: 20px;
    display: table;
    padding: 1.0rem ;
    font-size: 1.4rem ;
    &:hover {
      background: $white !important;
      color: $green2 !important;
    }
  }
  ul {
    &.socialShare {
      list-style: none;
      margin:  0 0 10px;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 1.0rem 1.0rem;
        a {
          color: $green2;
          font-size: 1.5rem;
        }
      }
    }
  }
}


//selectpicker
.bootstrap-select {
  &.ufCad,
  &.ufCad2,
  &.cursosCad,
  &.cursosCad2 {
    width: 100% !important;
  } 
  &.ufCad,
  &.ufCad2 {
    .dropdown-menu {
      max-width: auto !important;
      min-width: auto !important;
    }
  }
  .dropdown-toggle {    
    overflow: hidden;
    &.bs-placeholder {
      color: $black;
    }
    &.btn-light {
      background: $white;
      border: 1px solid #ced4da;
    }
    &:after {
      content: '';
      background: $green;
      width: 40px;
      height: 40px;
      position: absolute;
      border: 0;
      right: -1px;
    }
    &:before {
      content: '\f078';
      font-family: "FontAwesome";
      position: absolute;
      top: 5px;
      right: 11px;
      color: $white;
      z-index: 2;
    }
  }
}

//FormCadastro
.cadastroForm {
  max-width: 420px;  
  .btnDefault {
    width: 100%;
    padding: 0.9rem 0.5rem;
    margin: 0.8rem 0 1.5rem;
    font-size: 1.0rem;
    &:hover {
      @include box-shadow ();
    }
  }
  p {
    font-size: 0.8rem;
  }
}

//titleSection
.subTitle,
.titleSection {
  width: 100%;
  color: $black;
  font-weight: $bold;
  font-style: italic;
  margin-bottom: 1.8rem;
  &:after {
    content: '';
    width: 70px;
    height: 8px;
    background: $green;
    margin-top: 0.5rem;
    display: block;
  }
}
.subTitle {
  font-weight: $regular;
}

section {
  padding: 6.0rem 0;
}

//logos evento
#logos_evento {
  padding: 1.0rem 0;
  background: $gray;
  figure {
    margin: 0;
  }
}

//O Evento,interna
#interna,
#o_evento {
  background-image: url('../images/element-left-1@2x.png'), url('../images/elememnt-right-1@2x.png');
  background-repeat: no-repeat;
  background-position: left center, right -110px ;   
  padding-bottom: 0;
}

#publico_alvo {
  padding-top: 0;
  p {
    margin-top: 30px;
  }
}

.simple_list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: block;
    font-weight: $bold;
    color: $black;
    a {
      color: $black;
      &:hover {
        color: $green3;
        text-decoration: none;
      }
    }
    &:before {
      content: '';
      display: inline-block;
      margin-right: 0.5rem;
      width: 12px;
      height: 12px;
      background: $green;
      @include border-radius (100px);
    }
  }
}
.card_publi {
  margin: 1.0rem 0;
  a {
    display: flex;
    align-items: center;
    color: $white;
    background: $green3;
    height: 150px;
    overflow: hidden;
    padding-right: 0.5rem;
    @include border-radius (5px);    
    svg {
      margin-left: -35px;
      margin-right: 0.9rem;
      width: 290px;
      fill: $white !important;
    }
    .info {
      line-height: 0.8rem;
      .title {
        font-size: 1.2rem;
        line-height: 1.3rem;
        font-weight: $bold;
        text-transform: uppercase;
        margin-bottom: 0.8rem;
        font-style: italic;
      }
      span {
        font-size: 0.8rem;
        line-height: 0.9rem !important;
      }
    }
    transition: 0.3s;
    &:hover {
      text-decoration: none;
      transition: 0.3s;
      @include box-shadow ();  
      color: $green;
      background: $white;
      svg {
        fill: $green !important;
      }
    }
  }
}

.element {
  position: absolute;
  z-index: 9;
  margin-top: -100px;
}

#informacoes {
  background: $green2;
  .row {
    align-items: center;
  }
}

#programacao {
  padding-bottom: 0;
  .row {
    align-items: center;
  }
  .simple_list {
    li {
      margin-bottom: 1.0rem;
    }
  }
}

#comissao {
  margin-top: 3.0rem;
  background: url('../images/bg-comissao@2x.jpg') center center repeat-x;
  .bt-default {
    font-weight: $bold;
    font-size: 1.4rem;
  }
}

.bt-default {
  background: $green;
  color: $white;
  padding: 0.8rem 3.5rem;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    color: $white;
    transition: 0.3s;
    background: $green3; 
    @include box-shadow ();  
  }
}

#contato {
  .row {
    align-items: center;
  }
  p {
    font-size: 0.8rem;
  }
  .info_contato {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 1.0rem;
      font-size: 0.8rem;
      color: $gray-2;
      display: flex;
      align-items: center;
      img {
        width: 50px;
        margin-right: 0.5rem;
        border: 1px solid $green2;
      }
      strong{
        display: block; 
        font-weight: $bold;
        color: $black;
      }
      a {
        display: block; 
        color: $green;
      }
    }
  }
}

//Footer
footer {
  padding: 1.5rem 0;
  border-top: 1px solid $green3;
  figure {
    width: 320px;
    margin: -50px auto 30px auto;
    padding: 0 1.0rem;
    display: block;
    background: $white;
    z-index: 2;
    img {      
      max-height: 220px;          
    }    
  }
  .copy {
    p {
    text-align: center;
    color: $green;
    text-transform: lowercase !important; 
    font-size: 0.8rem;
    }
  }
  .row {
    align-items: center;
  }
  .navFooter,
  .navFooter-social {
    list-style: none;
    margin: 1.0rem auto 1.5rem;
    padding: 0;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 0.5rem;
      a {
        color: $green;
        font-size: 1.3rem;
        transition: 0.3s;
        &:hover {
          color: $green;
          text-decoration: none;
          transition: 0.3s;
        }
      }
    }    
  }
  .navFooter {
    li {
      a {
        color: $green;
        font-size: 0.8rem;
      }
    }
  }
}

#interna {
  margin-bottom: 3.0rem;
}
.card_com {
  display: flex;
  align-items: center;
  background: $white;
  border: 1px solid $gray;  
  margin-bottom: 1.5rem;
  transition: 0.3s;
  @include border-radius(4px);
  overflow: hidden;
  figure {
    margin: 0 0.5rem 0 0;
    img {
      height: 70px;
    }
  }
  .info_user {
    h4 {
      margin-bottom: 0;
      font-weight: $bold;
      font-style: italic;
      font-size: 1.0rem;
      color: $black;
    }
  }
  &:hover {
    transition: 0.3s;
    border-color: $green3;
  }
}

.text_padrao {
  h2 {
    width: 100%;
    color: $black;
    font-weight: $bold;
    font-style: italic;
    margin-bottom: 1.8rem;
    &:after {
      content: '';
      width: 70px;
      height: 8px;
      background: $green;
      margin-top: 0.5rem;
      display: block;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
      font-weight: $bold;
      color: $black;
      a {
        color: $black;
        &:hover {
          color: $green3;
          text-decoration: none;
        }
      }
      &:before {
        content: '';
        display: inline-block;
        margin-right: 0.5rem;
        width: 12px;
        height: 12px;
        background: $green;
        @include border-radius (100px);
      }
    }
  }
}

//Media Queries
@import 'client_style_queries.scss';